<% content_for :title do %>
  Corsego 
  |
  Analtycs
<% end %>


<h4 class="text-center">
  New users per day
</h4>
<%#= line_chart @users.group_by_day(:created_at).count %>
<%= line_chart charts_users_per_day_path %>

<h4 class="text-center">
  New enrollments per day
</h4>
<%#= column_chart @enrollments.group_by_day(:created_at).count %>
<%= column_chart charts_enrollments_per_day_path %>

<h4 class="text-center">
  Most enrolled courses
  <%#= pie_chart @courses.group(:enrollments_count).count %>
  <%#= pie_chart @enrollments.joins(:course).group(:'courses.title').count %>

  <%#= bar_chart @enrollments.joins(:course).group(:'courses.title').count %>
</h4>
<%= bar_chart charts_course_popularity_path %>

<h4 class="text-center">
  Most paid courses
</h4>
<%= bar_chart charts_money_makers_path %>

