<div class="container">
  <!-- Content here -->
  <h1>
    Hello
  </h1>

  <%= link_to "Privacy Policy", root_path, class: "btn btn-lg btn-warning" %>
  <%= link_to courses_path, class: "btn btn-lg btn-warning" do %>
    <i class="fa-solid fa-book"></i>
    Couese
  <% end %>

</div>
