<% content_for :title do %>
  Corsego 
  | 
  Editing
  <%= @enrollment.to_s %>
<% end %>

<div class="card">
  <div class="card-header">
    <h3>
      <div class="text-warning fa fa-star"></div>
      Add a Review
    </h3>
  </div>
  <div class="card-body">
    <%= render 'form', enrollment: @enrollment %>
    <%#= render 'form' %>
  </div>
  <div class="card-footer">
    <%= link_to 'Show Review', @enrollment %>
    |
    <%= link_to 'Back to course', course_path(@enrollment.course) %>
  </div>
</div>


