<hr/>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= link_to 'Teach on Corsego', new_course_path, style: 'color: white'; %>
        <div class="row"></div>
          Corsego for business
        <div class="row"></div>
          About us
      </div>
      <div class="col-md-4">
        Privacy policy
        <div class="row"></div>
        Terms and conditions
        <div class="row"></div>
        Careers
        <div class="row"></div>
        Help and Support
        <div class="row"></div>
        Blog
      </div>
      <div class="col-md-4">
        <%# About us %>
        Copyright
        © 
        <%= Time.now.year %>
        Corsego Sp. z o.o.
        <div class="row"></div>
        <div class="fa fa-envelope"></div>
        <%= mail_to 'video@mail.com' %>
      </div>
    </div>
  </div>
</footer>
<br/>